<div ng-controller='singleFieldQuery' ng-init="init()" class="query-panel">
  <div ng-repeat="query in panel.queries" ng-class="{'short-query': panel.queries.length>1}">
    <form class="form-search" style="position:relative;margin-bottom:5px;" ng-submit="refresh()">
      <span class="begin-query">
        <i class="icon-circle pointer" data-unique="1" data-placement="right"></i>
        <i class="icon-remove-sign pointer remove-query" ng-show="panel.queries.length > 1" ng-click="remove($index);refresh()"></i>
      </span>
      <input class="search-query panel-query" ng-class="{ 'input-block-level': panel.queries.length==1, 'last-query': $last, 'has-remove': panel.queries.length > 1 }" bs-typeahead="panel.suggestions[$index]" match-all="true" data-min-length=0 data-items=100 type="text" ng-model="query.term" />
      <span class="end-query">
        <i class="icon-search pointer" ng-click="refresh()" ng-show="$last"></i>
        <!-- Remove the plus icon to disable multiple queries function -->
        <i class="icon-plus pointer" ng-click="add()" ng-show="$last"></i>
        <i class="icon-eraser pointer" ng-click="reset()" ng-show="$last"></i>
      </span>
    </form>
  </div>
</div>
